ARSACSoft/Connected Services/ProductosWS/Productos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.arsacsoft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Productos" targetNamespace="http://services.arsacsoft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ARSACSoftWebServices/Productos?xsd=1" namespace="http://services.arsacsoft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarProductosXNombreXCategoriaXMarca">
    <part name="parameters" element="tns:listarProductosXNombreXCategoriaXMarca" />
  </message>
  <message name="listarProductosXNombreXCategoriaXMarcaResponse">
    <part name="parameters" element="tns:listarProductosXNombreXCategoriaXMarcaResponse" />
  </message>
  <message name="insertarProducto">
    <part name="parameters" element="tns:insertarProducto" />
  </message>
  <message name="insertarProductoResponse">
    <part name="parameters" element="tns:insertarProductoResponse" />
  </message>
  <message name="listarMarcaTodas">
    <part name="parameters" element="tns:listarMarcaTodas" />
  </message>
  <message name="listarMarcaTodasResponse">
    <part name="parameters" element="tns:listarMarcaTodasResponse" />
  </message>
  <message name="listarCategoriasTodas">
    <part name="parameters" element="tns:listarCategoriasTodas" />
  </message>
  <message name="listarCategoriasTodasResponse">
    <part name="parameters" element="tns:listarCategoriasTodasResponse" />
  </message>
  <message name="modificarProducto">
    <part name="parameters" element="tns:modificarProducto" />
  </message>
  <message name="modificarProductoResponse">
    <part name="parameters" element="tns:modificarProductoResponse" />
  </message>
  <portType name="ProductosWS">
    <operation name="listarProductosXNombreXCategoriaXMarca">
      <input wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProductosWS/listarProductosXNombreXCategoriaXMarcaRequest" message="tns:listarProductosXNombreXCategoriaXMarca" />
      <output wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProductosWS/listarProductosXNombreXCategoriaXMarcaResponse" message="tns:listarProductosXNombreXCategoriaXMarcaResponse" />
    </operation>
    <operation name="insertarProducto">
      <input wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProductosWS/insertarProductoRequest" message="tns:insertarProducto" />
      <output wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProductosWS/insertarProductoResponse" message="tns:insertarProductoResponse" />
    </operation>
    <operation name="listarMarcaTodas">
      <input wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProductosWS/listarMarcaTodasRequest" message="tns:listarMarcaTodas" />
      <output wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProductosWS/listarMarcaTodasResponse" message="tns:listarMarcaTodasResponse" />
    </operation>
    <operation name="listarCategoriasTodas">
      <input wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProductosWS/listarCategoriasTodasRequest" message="tns:listarCategoriasTodas" />
      <output wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProductosWS/listarCategoriasTodasResponse" message="tns:listarCategoriasTodasResponse" />
    </operation>
    <operation name="modificarProducto">
      <input wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProductosWS/modificarProductoRequest" message="tns:modificarProducto" />
      <output wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProductosWS/modificarProductoResponse" message="tns:modificarProductoResponse" />
    </operation>
  </portType>
  <binding name="ProductosWSPortBinding" type="tns:ProductosWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarProductosXNombreXCategoriaXMarca">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarMarcaTodas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCategoriasTodas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Productos">
    <port name="ProductosWSPort" binding="tns:ProductosWSPortBinding">
      <soap:address location="http://localhost:8080/ARSACSoftWebServices/Productos" />
    </port>
  </service>
</definitions>