ARSACSoft/Connected Services/ProductosWS/Productos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.arsacsoft.pucp.edu.pe/" targetNamespace="http://services.arsacsoft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarCategoriasTodas" type="tns:listarCategoriasTodas" />
  <xs:element name="listarCategoriasTodasResponse" type="tns:listarCategoriasTodasResponse" />
  <xs:element name="listarMarcaTodas" type="tns:listarMarcaTodas" />
  <xs:element name="listarMarcaTodasResponse" type="tns:listarMarcaTodasResponse" />
  <xs:complexType name="listarMarcaTodas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarMarcaTodasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:marca" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marca">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idMarca" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCategoriasTodas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCategoriasTodasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:categoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoria">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idCategoria" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>