ARSACSoft/Connected Services/SedeWS/SedeWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.arsacsoft.pucp.edu.pe/" targetNamespace="http://services.arsacsoft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarSede" type="tns:actualizarSede" />
  <xs:element name="actualizarSedeResponse" type="tns:actualizarSedeResponse" />
  <xs:element name="eliminarSede" type="tns:eliminarSede" />
  <xs:element name="eliminarSedeResponse" type="tns:eliminarSedeResponse" />
  <xs:element name="insertarSede" type="tns:insertarSede" />
  <xs:element name="insertarSedeResponse" type="tns:insertarSedeResponse" />
  <xs:element name="listarSedes" type="tns:listarSedes" />
  <xs:element name="listarSedesResponse" type="tns:listarSedesResponse" />
  <xs:complexType name="eliminarSede">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarSedeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarSedes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarSedesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sede">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element name="esAlmacen" type="xs:boolean" />
      <xs:element name="idSede" type="xs:int" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSede">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarSedeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarSede">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:sede" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarSedeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>