ARSACSoft/Connected Services/SedeWS/SedesWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.arsacsoft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SedesWS" targetNamespace="http://services.arsacsoft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ARSACSoftWebServices/SedesWS?xsd=1" namespace="http://services.arsacsoft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarProductosDeSede">
    <part name="parameters" element="tns:listarProductosDeSede" />
  </message>
  <message name="listarProductosDeSedeResponse">
    <part name="parameters" element="tns:listarProductosDeSedeResponse" />
  </message>
  <message name="eliminarSede">
    <part name="parameters" element="tns:eliminarSede" />
  </message>
  <message name="eliminarSedeResponse">
    <part name="parameters" element="tns:eliminarSedeResponse" />
  </message>
  <message name="modificarSede">
    <part name="parameters" element="tns:modificarSede" />
  </message>
  <message name="modificarSedeResponse">
    <part name="parameters" element="tns:modificarSedeResponse" />
  </message>
  <message name="listarSedes">
    <part name="parameters" element="tns:listarSedes" />
  </message>
  <message name="listarSedesResponse">
    <part name="parameters" element="tns:listarSedesResponse" />
  </message>
  <message name="insertarSede">
    <part name="parameters" element="tns:insertarSede" />
  </message>
  <message name="insertarSedeResponse">
    <part name="parameters" element="tns:insertarSedeResponse" />
  </message>
  <portType name="SedesWS">
    <operation name="listarProductosDeSede">
      <input wsam:Action="http://services.arsacsoft.pucp.edu.pe/SedesWS/listarProductosDeSedeRequest" message="tns:listarProductosDeSede" />
      <output wsam:Action="http://services.arsacsoft.pucp.edu.pe/SedesWS/listarProductosDeSedeResponse" message="tns:listarProductosDeSedeResponse" />
    </operation>
    <operation name="eliminarSede">
      <input wsam:Action="http://services.arsacsoft.pucp.edu.pe/SedesWS/eliminarSedeRequest" message="tns:eliminarSede" />
      <output wsam:Action="http://services.arsacsoft.pucp.edu.pe/SedesWS/eliminarSedeResponse" message="tns:eliminarSedeResponse" />
    </operation>
    <operation name="modificarSede">
      <input wsam:Action="http://services.arsacsoft.pucp.edu.pe/SedesWS/modificarSedeRequest" message="tns:modificarSede" />
      <output wsam:Action="http://services.arsacsoft.pucp.edu.pe/SedesWS/modificarSedeResponse" message="tns:modificarSedeResponse" />
    </operation>
    <operation name="listarSedes">
      <input wsam:Action="http://services.arsacsoft.pucp.edu.pe/SedesWS/listarSedesRequest" message="tns:listarSedes" />
      <output wsam:Action="http://services.arsacsoft.pucp.edu.pe/SedesWS/listarSedesResponse" message="tns:listarSedesResponse" />
    </operation>
    <operation name="insertarSede">
      <input wsam:Action="http://services.arsacsoft.pucp.edu.pe/SedesWS/insertarSedeRequest" message="tns:insertarSede" />
      <output wsam:Action="http://services.arsacsoft.pucp.edu.pe/SedesWS/insertarSedeResponse" message="tns:insertarSedeResponse" />
    </operation>
  </portType>
  <binding name="SedesWSPortBinding" type="tns:SedesWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarProductosDeSede">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarSede">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarSede">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarSedes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarSede">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SedesWS">
    <port name="SedesWSPort" binding="tns:SedesWSPortBinding">
      <soap:address location="http://localhost:8080/ARSACSoftWebServices/SedesWS" />
    </port>
  </service>
</definitions>