ARSACSoft/Connected Services/RRHHWS/RRHHWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.arsacsoft.pucp.edu.pe/" targetNamespace="http://services.arsacsoft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarEmpleado" type="tns:insertarEmpleado" />
  <xs:element name="insertarEmpleadoResponse" type="tns:insertarEmpleadoResponse" />
  <xs:element name="listarporNombreDNI" type="tns:listarporNombreDNI" />
  <xs:element name="listarporNombreDNIResponse" type="tns:listarporNombreDNIResponse" />
  <xs:complexType name="listarporNombreDNI">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarporNombreDNIResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
          <xs:element minOccurs="0" name="direccion" type="xs:string" />
          <xs:element minOccurs="0" name="fechaContratacion" type="xs:dateTime" />
          <xs:element name="salario" type="xs:double" />
          <xs:element minOccurs="0" name="tipo" type="tns:tipoDeEmpleado" />
          <xs:element minOccurs="0" name="usuario" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" type="xs:string" />
      <xs:element name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoDeEmpleado">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idTipoDeEmpleado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEmpleadoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>