ARSACSoftC#/ARSACSoft/Connected Services/ProveedoresWS/ProveedoresWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.arsacsoft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProveedoresWS" targetNamespace="http://services.arsacsoft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:31992/ARSACSoftWebServices/ProveedoresWS?xsd=1" namespace="http://services.arsacsoft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarTodasOrdenesCompraXProveedor">
    <part name="parameters" element="tns:listarTodasOrdenesCompraXProveedor" />
  </message>
  <message name="listarTodasOrdenesCompraXProveedorResponse">
    <part name="parameters" element="tns:listarTodasOrdenesCompraXProveedorResponse" />
  </message>
  <message name="listarProveedoresXNombreXRUC">
    <part name="parameters" element="tns:listarProveedoresXNombreXRUC" />
  </message>
  <message name="listarProveedoresXNombreXRUCResponse">
    <part name="parameters" element="tns:listarProveedoresXNombreXRUCResponse" />
  </message>
  <message name="listarProveedoresPorCategoria">
    <part name="parameters" element="tns:listarProveedoresPorCategoria" />
  </message>
  <message name="listarProveedoresPorCategoriaResponse">
    <part name="parameters" element="tns:listarProveedoresPorCategoriaResponse" />
  </message>
  <message name="listarProductosXProveedor">
    <part name="parameters" element="tns:listarProductosXProveedor" />
  </message>
  <message name="listarProductosXProveedorResponse">
    <part name="parameters" element="tns:listarProductosXProveedorResponse" />
  </message>
  <message name="listarProveedoresAfabeticamente">
    <part name="parameters" element="tns:listarProveedoresAfabeticamente" />
  </message>
  <message name="listarProveedoresAfabeticamenteResponse">
    <part name="parameters" element="tns:listarProveedoresAfabeticamenteResponse" />
  </message>
  <message name="modificarProveedor">
    <part name="parameters" element="tns:modificarProveedor" />
  </message>
  <message name="modificarProveedorResponse">
    <part name="parameters" element="tns:modificarProveedorResponse" />
  </message>
  <message name="insertarProveedor">
    <part name="parameters" element="tns:insertarProveedor" />
  </message>
  <message name="insertarProveedorResponse">
    <part name="parameters" element="tns:insertarProveedorResponse" />
  </message>
  <message name="eliminarProveedor">
    <part name="parameters" element="tns:eliminarProveedor" />
  </message>
  <message name="eliminarProveedorResponse">
    <part name="parameters" element="tns:eliminarProveedorResponse" />
  </message>
  <portType name="ProveedoresWS">
    <operation name="listarTodasOrdenesCompraXProveedor">
      <input wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProveedoresWS/listarTodasOrdenesCompraXProveedorRequest" message="tns:listarTodasOrdenesCompraXProveedor" />
      <output wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProveedoresWS/listarTodasOrdenesCompraXProveedorResponse" message="tns:listarTodasOrdenesCompraXProveedorResponse" />
    </operation>
    <operation name="listarProveedoresXNombreXRUC">
      <input wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProveedoresWS/listarProveedoresXNombreXRUCRequest" message="tns:listarProveedoresXNombreXRUC" />
      <output wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProveedoresWS/listarProveedoresXNombreXRUCResponse" message="tns:listarProveedoresXNombreXRUCResponse" />
    </operation>
    <operation name="listarProveedoresPorCategoria">
      <input wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProveedoresWS/listarProveedoresPorCategoriaRequest" message="tns:listarProveedoresPorCategoria" />
      <output wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProveedoresWS/listarProveedoresPorCategoriaResponse" message="tns:listarProveedoresPorCategoriaResponse" />
    </operation>
    <operation name="listarProductosXProveedor">
      <input wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProveedoresWS/listarProductosXProveedorRequest" message="tns:listarProductosXProveedor" />
      <output wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProveedoresWS/listarProductosXProveedorResponse" message="tns:listarProductosXProveedorResponse" />
    </operation>
    <operation name="listarProveedoresAfabeticamente">
      <input wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProveedoresWS/listarProveedoresAfabeticamenteRequest" message="tns:listarProveedoresAfabeticamente" />
      <output wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProveedoresWS/listarProveedoresAfabeticamenteResponse" message="tns:listarProveedoresAfabeticamenteResponse" />
    </operation>
    <operation name="modificarProveedor">
      <input wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProveedoresWS/modificarProveedorRequest" message="tns:modificarProveedor" />
      <output wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProveedoresWS/modificarProveedorResponse" message="tns:modificarProveedorResponse" />
    </operation>
    <operation name="insertarProveedor">
      <input wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProveedoresWS/insertarProveedorRequest" message="tns:insertarProveedor" />
      <output wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProveedoresWS/insertarProveedorResponse" message="tns:insertarProveedorResponse" />
    </operation>
    <operation name="eliminarProveedor">
      <input wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProveedoresWS/eliminarProveedorRequest" message="tns:eliminarProveedor" />
      <output wsam:Action="http://services.arsacsoft.pucp.edu.pe/ProveedoresWS/eliminarProveedorResponse" message="tns:eliminarProveedorResponse" />
    </operation>
  </portType>
  <binding name="ProveedoresWSPortBinding" type="tns:ProveedoresWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarTodasOrdenesCompraXProveedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProveedoresXNombreXRUC">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProveedoresPorCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosXProveedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProveedoresAfabeticamente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarProveedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarProveedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarProveedor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProveedoresWS">
    <port name="ProveedoresWSPort" binding="tns:ProveedoresWSPortBinding">
      <soap:address location="http://localhost:31992/ARSACSoftWebServices/ProveedoresWS" />
    </port>
  </service>
</definitions>